
// Body
$body-bg: #f5f8fa;
$body-bg-resg: #f5f8fa;

// Typography
$font-family-sans-serif: "museo-sans", sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.6;

 $color-first : #d32381;

 // El verde es 09cca2 
 $color-second : #0FE0E8;

 // Rosa fuerte es ff0aaf
 $color-focus: #009bc8;

 // Rosa claro es 24FFB8
 $color-back: #24FFB8;

 $color-other: #0FE0E8;

