@import "variables";

.fcc{
  display:flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  text-align: center;
}
.display-none{
  display: none;
}

.bordered{
  border: 1px solid #9F9F9F;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 2px 2px 2px #000;
}

 .logo-square {
   background-color: #fff;
   border: 3px solid #868686;
   font-size: 2rem;
   color: #D52B1E;
   /* padding:5px; */
   display: flex;
   justify-content: center;
   align-items: center;
   height: 75px;
   width:188px;
  overflow: hidden;
   img {
     max-width: 70px;
   }
 }
img{width:100%}
.vw100{
  width:100vw;
}

.cursor-pointer{
  cursor: pointer;
}

.clickable {
  transition: all .35s;
  cursor: pointer;
}
.relative{
  position: relative;
}

.clickable:hover {
  transition: all .35s;
  transform: scale(1.12);
}

$fucsia : #DB1B73;
$grey:#9F9F9F;
$yellow:#F2B742;

.fucsia{color:$fucsia;}
.grey{color:$grey;}
.yellow{color:$yellow;}

.bg-fucsia{background-color:$fucsia;}
.bg-grey{background-color:$grey;}
.bg-yellow{background-color:$yellow;}

.text-first {
  color: $color-first;

  & a {
    color: $color-first;
  }
}

.bg-first {
  background-color: $color-first;
}

.texto {
  white-space: pre-line;
}

.text-second {
  color: $color-second;

  & a {
    color: $color-second;
  }
}

.bg-second {
  background-color: $color-second;
}


.white-bold {
  font-weight: bold;
  color: #fff;
}

.flex-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-focus {
  color: $color-focus;

  & a {
    color: $color-focus;
  }
}

.bg-focus {
  background-color: $color-focus;
}



.text-back {
  color: $color-back;

  & a {
    color: $color-back;
  }
}

.bg-back {
  background-color: $color-back;
}

.d-big {
  font-size: 1.5rem;
}

.d-2-rem {
  font-size: 2rem;
}

.d-3-rem {
  font-size: 3rem;
}

.bb-second {
  border-bottom: 3px solid $color-second;
}

.bl-second {
  border-left: 3px solid $color-second;
}

.hover-bl-second:hover {
  border-left: 3px solid $color-second;
}

.btn-circle {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 6px;
  font-size: 1.3rem;
  border-radius: 50%;
}

.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

.btn-outline-second {
  font-weight: bold;
  border: 2px solid $color-second;
  background-color: #fff;
  color: $color-second;

  &:hover {
    color: #fff;
    background-color: $color-second;

  }
}

.btn-outline-focus {
  font-weight: bold;
  border: 2px solid $color-focus;
  background-color: #fff;
  color: $color-focus;

  &:hover {
    color: #fff;
    background-color: $color-focus;

  }
}

.crop-text {
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

// Body
$body-bg: #fff;
/* $body-bg: #f5f8fa; */
$red:#D52B1E;
// Typography
$font-family-sans-serif: 'Niramit',
sans-serif;
$font-size-base: 1.1rem;
$line-height-base: 1.6;


.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

* {
  font-family: 'Niramit',
    sans-serif;
}

.bg-fucsia {
  background-color: #ff0aaf;
}

.fucsia {
  color: #ff0aaf
}

.border-fucsia {
  border-color: #ff0aaf;
}

.bg-red {
  background-color: #D52B1E;
}

.border-grey {
  border: 1px solid #868686;
}

.border-red {
  border: 1px solid #D52B1E;
}

.red,
.text-red {
  color: #D52B1E;
}

a {
  color: #000;

}

a:hover {
  text-decoration: none;
  color: #000;
}




.red-ribbon {
  background-color: #D52B1E;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #fff;
  margin-bottom: 20px;
  margin-top: 10px;
  border-left: 1px solid #fff;
  white-space: normal;

  .logo-square {
    background-color: #fff;
    border: 3px solid #868686;
    font-size: 2rem;
    color: #D52B1E;
    /* padding:5px; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    width: 75px;
  }
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

$shadow-color : rgba(0, 0, 0, 0.3333);

.material-shadow-1 {
    box-shadow: 1px 1px 1px $shadow-color;
}

.material-shadow-2 {
    box-shadow: 2px 2px 2px $shadow-color;
}

.material-shadow-3 {
    box-shadow: 3px 3px 3px $shadow-color;
}
.top-shine {
    border-top: 1px rgba($color: #ffffff, $alpha: .75);
}

input.mat {
    border: 0;
}
input.mat:focus {
    outline: none;
    border: none;
    box-shadow: none;
    // box-shadow: inset 1px 1px $shadow-color;

}
input.mat.shadow {
    box-shadow: inset 1px 1px 3px $shadow-color!important;
}
button.mat {
    background: transparent;
    border: none;
    padding: 0;
    color: rgba(0,0,0,.75);
}

button.mat:active {
    border:none;
}

button.mat:focus {
    outline: none;
}

.scrollbar-custom {
    overflow-y: scroll;
}

.scrollbar-custom::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.2);
}

.inner-bottom-fade {
    position: relative;
} 
.inner-bottom-fade:after {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    content: "";
    height: 2em;
    background: linear-gradient( rgba(255,255,255,0), rgba(255,255,255,1));
}